<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>女装</string>
		<key>items</key>
		<array>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>小西装</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>卫衣</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>开衫</string>
						<key>item</key>
						<string>url:http://wwww.www.wwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>短外套</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长袖T</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>雪纺衫</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>衬衣</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>打底衣</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>皮衣</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>毛衣</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>马甲</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
				</array>
				<key>name</key>
				<string>上衣</string>
			</dict>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>毛呢裙</string>
						<key>item</key>
						<string>url:http://wwwwwwwwwwwwwwwwwwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>连衣裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>半身裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>包臀裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>蛋糕裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>百褶裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>皮裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
				</array>
				<key>name</key>
				<string>裙子</string>
			</dict>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>牛仔裤</string>
						<key>item</key>
						<string>url:http://wwwwwwwwwwwwwwwwwwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>休闲裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>小脚裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>灯芯绒</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>千鸟格</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>哈伦裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>裙裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>打底裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
				</array>
				<key>name</key>
				<string>裤子</string>
			</dict>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>文胸</string>
						<key>item</key>
						<string>url:http://wwwwwwwwwwwwwwwwwwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>内裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>浴袍</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>泳衣</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>睡裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>睡衣</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>安全裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>塑身衣</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
				</array>
				<key>name</key>
				<string>内衣</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>女鞋</string>
		<key>items</key>
		<array>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>高跟鞋</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>坡跟鞋</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>松糕鞋</string>
						<key>item</key>
						<string>url:http://wwww.www.wwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>平底鞋</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>豆豆鞋</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>牛津鞋</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>运动鞋</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>果冻鞋</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>布鞋</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>婚鞋</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>凉鞋</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>雨靴</string>
						<key>item</key>
						<string>url:wwwwwwwwwwwww</string>
					</dict>
				</array>
				<key>name</key>
				<string>单鞋</string>
			</dict>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>毛呢裙</string>
						<key>item</key>
						<string>url:http://wwwwwwwwwwwwwwwwwwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>连衣裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>半身裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>包臀裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>蛋糕裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>百褶裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>皮裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
				</array>
				<key>name</key>
				<string>帆布鞋</string>
			</dict>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>牛仔裤</string>
						<key>item</key>
						<string>url:http://wwwwwwwwwwwwwwwwwwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>休闲裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>小脚裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>灯芯绒</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>千鸟格</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>哈伦裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>裙裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>打底裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
				</array>
				<key>name</key>
				<string>靴子</string>
			</dict>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>文胸</string>
						<key>item</key>
						<string>url:http://wwwwwwwwwwwwwwwwwwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>内裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>浴袍</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>泳衣</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>睡裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>睡衣</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>安全裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>塑身衣</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
				</array>
				<key>name</key>
				<string>风格鞋</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>女装</string>
		<key>items</key>
		<array>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>小西装</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>卫衣</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>开衫</string>
						<key>item</key>
						<string>url:http://wwww.www.wwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>短外套</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长袖T</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>雪纺衫</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>衬衣</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>打底衣</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>皮衣</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>毛衣</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
					<dict>
						<key>name</key>
						<string>马甲</string>
						<key>item</key>
						<string>url:http://www.www.www</string>
					</dict>
				</array>
				<key>name</key>
				<string>上衣</string>
			</dict>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>毛呢裙</string>
						<key>item</key>
						<string>url:http://wwwwwwwwwwwwwwwwwwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>连衣裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>半身裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>包臀裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>蛋糕裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>百褶裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>皮裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
				</array>
				<key>name</key>
				<string>裙子</string>
			</dict>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>牛仔裤</string>
						<key>item</key>
						<string>url:http://wwwwwwwwwwwwwwwwwwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>休闲裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>小脚裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>灯芯绒</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>千鸟格</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>哈伦裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>裙裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>打底裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
				</array>
				<key>name</key>
				<string>裤子</string>
			</dict>
			<dict>
				<key>subItems</key>
				<array>
					<dict>
						<key>name</key>
						<string>文胸</string>
						<key>item</key>
						<string>url:http://wwwwwwwwwwwwwwwwwwwww</string>
					</dict>
					<dict>
						<key>name</key>
						<string>内裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>浴袍</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>泳衣</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>睡裙</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>睡衣</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>安全裤</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>塑身衣</string>
						<key>item</key>
						<string>url:2222222222222222222222</string>
					</dict>
				</array>
				<key>name</key>
				<string>内衣</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
